* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

/* PAGE D'ACCUEIL */
/*HEADER MENU*/
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #ecf0f1;
  z-index: 10;
  border-bottom: 1px solid rgba(35, 35, 35, 0.4);
}

.nav_menu {
  position: relative;
  height: 100%;
}

.items {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.menu {
  text-decoration: none;
  margin: 0 15px;
  font-size: 32px;
  font-family: 'Crimson Text', serif;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
}

.bar {
  position: relative;
  bottom: 5px;
  left: 0;
  width: 1px;
  height: 5px;
  background-color: orangered;
  transform: translate3d(0, 0, 0) scaleX(1);
  transform-origin: left center;
  transition: 600ms;
}

.actif {
  color: orangered;
}

/*ENSEMBLE SECTION*/

.ensemble {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.section {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.deplacementSection {
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
  /* animation et transition utilise GPU et non CPU;  */
  will-change: transform;
}

/*PARTIE1   ---ACCUEIL*/

.partie1 {
}

.imageAccueil {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.imageBackground {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  min-width: 100%;
}

.scroll-indicator {
  position: absolute;
  left: 49.5%;
  bottom: 10%;
  color: rgba(242, 242, 242, 0.8);
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    top: 91%;
  }
  50% {
    top: 94%;
  }
  100% {
    top: 91%;
  }
}

/*******************************************/
/**         LES CARTES DE LA JOIE         **/
/*******************************************/

.cards__bg {
  background: #051e37;
}

/* LE CONTAINER DES CARTES (PARENT) */
.cards {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 50px;
  perspective: 1500px;
  font-family: 'Crimson Text';
}

/* LES CARTE SOLO */
.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 20px 0;
  transform-style: preserve-3d;
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transition: transform 1s ease-in-out;
}

.front,
.back {
  backface-visibility: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* LA CLASSE QU'ON APPLIQUE/RETIRE QUAND ON CLIQUE SUR LE BTN */
.card--rotate {
  transform: rotateY(180deg);
}

/* --- FRONT OF THE CARD --- */
.front {
  transform: rotateY(0deg);
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.front__text {
  font-size: 24px;
  margin: 50px 0;
}

.front__btn {
  border: 1px solid black;
  background: linear-gradient(to bottom, #f7fbfc 0%, #d9edf2 40%, #add9e4 100%);
  border-radius: 50px;
  box-shadow: 1px 1px 4px 1px #656565;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.front__btn > span {
  margin: 0 10px;
  font-size: 16px;
}

.front__btn > svg {
  transition: transform 300ms ease-in-out;
}

.front__btn:hover > svg:first-of-type {
  transform: translate3d(5px, 0, 0);
}

.front__btn:hover > svg:last-of-type {
  transform: translate3d(-5px, 0, 0);
}

/* --- BACK OF THE CARD --- */
.back {
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
}

.back__btn {
  border-width: 0;
  background: transparent;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: auto;
}

.back__list {
  list-style-type: none;
  padding: 0;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.back__list > li {
  display: block;
  margin: 10px 0;
}

.back__title {
  margin-top: 20px;
}

.back__paragraph {
  font-size: 20px;
  margin: 20px 0;
}

.back__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.back__row + .back__row {
  margin-top: 40px;
}

.back__footer {
  font-weight: bold;
  border: solid 1px #000;
  font-size: 22px;
  font-family: 'Gentium Book Basic', serif;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.back__footer a {
  color: #f58b4c;
  text-shadow: 1px 1px 1px rgba(26, 0, 0, 0.7);
  text-transform: uppercase;
  text-decoration: none;
}

/*PARTIE2   ---LES SIBERIENS*/

.partie2 {
  background-color: blue;
}

/*PARTIE3   ---LES NORVEGIENS*/

.partie3 {
  background-color: orange;
}

/*PARTIE4   ---EXPOSITION*/

.partie4 {
  background-color: green;
}
